
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.card-hover:hover .card{
    box-shadow: 0 5px 12px 0 #00000055;
    transition: 0.2s;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img {
    height: 10rem;
}

#event-img {
    height: 25rem;
}
